.navigation-item {
  margin: 10px 0;
  display: block;
  height: 100%;
}

.navigation-item a {
  color: #8f5c2c;
  text-decoration: none;
  width: 100%;
  display: block;
}


.navigation-item a:hover, .navigation-item a:active, .navigation-item a.active {
  color: #40a4c8;
}

@media (min-width: 500px) {
  .navigation-item {
    margin: 0;
    display: flex;
    align-items: center;
  }

  .navigation-item a {
    color: white;
    height: 100%;
    width: auto;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }
  
  
  .navigation-item a:hover, .navigation-item a:active, .navigation-item a.active {
    background-color: #8f5c2c;
    border-bottom: 4px solid #40a4c8;
    color: white;
  }
}